Beat\ Saber*
MonoBleedingEdge/
UnityCrashHandler64.exe
UnityPlayer.dll
BeatSaberVersion.txt
Plugins/
CustomSongs/
IPA.exe
IPA/
Mono.Cecil.dll
Playlists/
song_browser_settings.xml
song_browser_settings.xml.bak
UserData/
DLC/
steam_shader_cache/
Downloader.log
